@import "main";

// --------------------
// #home
// --------------------
#home {
  h2, h3, h4 {
    font-family: "omnes-pro",sans-serif!important;
  }

  h3 {
    font-size: 2.7em
  }

  h4 {
    font-size: 2em;
    font-weight: 300
  }


  .header {
    border: none;
    margin-bottom: 0
  }
}

// --------------------
// .jumbotron
// --------------------
#home .jumbotron {
  text-align: center;
  background: #3a388d url("/assets/site/images/pattern.jpg") repeat;
  border-radius: 0;
  padding: 100px 0;

  h2 {
    font-size: 2.7em;
    line-height: 1.2em;
    color: #fff;
  }

  h3 {
    color: rgba(255,255,255,.75);
    font-weight: 300;
    margin-top: 35px;
    font-size: 1.3em;
  }
}

// --------------------
// #introduction
// --------------------
#home #introduction {
  text-align: center;
  margin-top: 30px;
}

.icon-large + h3 {
  padding: 25px 0;
}
.icon-large + h3 + p,
.icon-md + h4 + p
 {
  font-size: 1.4em;
  color: #888;
  text-align: left;
  font-weight: 300;
}

.icon-md + h3 {
  padding: 15px 0;
}



// --------------------
// .hyle-panel
// --------------------
#home .hyle-panel {
  background: transparent url("/assets/site/images/hyle_panel.png") left top no-repeat;
  height: 360px;
  width: 100%;

  pre {
    text-align: left;
    border: none!important;
    background: transparent!important;
    padding: 150px 0 120px 40px!important;
    font-size: 11px!important;
  }

  .hyle-panel-controls {
    margin: -20px 0 0 -50px;
    a {
        color: rgba(255, 255, 255, .3);
        font-size: 1.5em;
        &:hover {
          color: rgba(255, 255, 255, 1)
        }
    }
  }
}

// --------------------
// .section
// --------------------
.section {
  margin-top: 100px;

  .row {
    margin-top: 100px;
  }
  h3, h4 {
    text-align: center;
  }
  .section h2 + p.lead {
    margin-bottom: 60px;
    font-size: 1.4em
  }
}
.section-image {
  max-width: 630px;
}

.section-divider {
  margin-top: 80px;
  &.section-divider-half {
    margin-top: 0
  }
}

.icon-large {
  margin: 0;
  display: block;
  font-size: 7em
}
.icon-md {
  display: block;
  font-size: 4em;
}
.icon-muted {
  color: #ddd;
}

@media (max-width: 1200px) {
  .hyle-panel {
    background-size: 100%!important;
  }
}

@media (max-width: 768px) {
  .section-image {
    width: 100%
  }
}

p + .btn-primary.btn-lg {
  margin-top: 70px
}


// --------------------
// #home #uses
// --------------------
#home #uses {
  text-align: center;
}


// --------------------
// #home #subscription
// --------------------

#home #subscription {
  margin-bottom: 100px;
  .action-buy {
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  #introduction,
  #uses
   {
    text-align: center!important;
  }
}
