body {
  color: #5a5a5a; }

.logo {
  font-size: 30px;
  margin: 0;
  font-family: "swingdancer", serif !important;
  text-decoration: none; }

a:not(.btn),
a:not(.btn):hover {
  border-bottom: none;
  text-decoration: none; }

.header {
  padding-bottom: 17px;
  margin: 20px 0 20px 0;
  border-bottom: 1px solid #eee; }

.header > .nav-pills.pull-right {
  margin-top: -5px; }

#footer {
  margin: 60px 0; }

@media screen and (max-width: 640px) {
  .lead {
    text-align: center; } }
.table thead > tr > th {
  border-bottom-width: 1px !important; }

code {
  color: #666;
  font-size: .85em;
  border: 1px solid #ddd; }

pre {
  padding: 10px !important;
  border: 1px solid #ccc !important;
  background-color: #f9f9f9 !important;
  font-size: 12px !important; }

blockquote p {
  font-size: 1em; }

.underlined {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee; }

.centered {
  margin: auto; }

.bordered {
  border-bottom: 1px solid #eee; }

.admin-subnav {
  padding: 5px 0;
  border-top: 1px solid #eee;
  position: fixed;
  bottom: 0px;
  z-index: 5;
  background: #eee;
  width: 100%;
  opacity: .5; }
  .admin-subnav:hover {
    opacity: 1; }

.comments {
  padding-top: 30px;
  border-top: 1px solid #eee;
  margin-top: 30px; }

.flex-video {
  margin-top: 15px;
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden; }

.flex-video.widescreen {
  padding-bottom: 57.25%; }

.flex-video.vimeo {
  padding-top: 0; }

.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video {
    padding-top: 0; } }
#blog #content .read-more {
  text-align: center;
  font-size: 1.5em;
  margin: 50px 0; }
#blog #content .title {
  border-bottom: 1px solid #eee;
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 30px; }
#blog #content .article .content p {
  margin: 25px 0; }
#blog #content .article .content > p:first-child {
  font-size: 1.8em;
  color: #666; }
#blog #content h3, #blog #content h4, #blog #content h5 {
  font-weight: 600; }
#blog #content h3, #blog #content h4, #blog #content h5, #blog #content p, #blog #content li {
  font-family: "Code Sans Pro", "Myriad Pro", Helvetica, sans-serif; }
#blog #content h2 {
  font-family: "omnes-pro", Helvetica, Arial, sans-serif;
  font-size: 3.5em;
  padding-bottom: 25px; }
#blog #content h3 {
  font-size: 2.5em;
  margin: 40px 0 20px; }
#blog #content h4 {
  font-size: 1.5em;
  margin: 30px 0 15px; }
#blog #content li,
#blog #content p {
  font-size: 1.3em; }
  #blog #content li code,
  #blog #content p code {
    font-size: 80%; }
