@import "main";

// --------------------
// #docs
// --------------------

#docs {
  h2 {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-top: 60px;
    &:first-child {
      margin-top: 0
    }
  }

  .info {
    background-color: lighten(#428BCA, 42%);
    border-left: 3px solid lighten(#428BCA, 20%);
    padding: 20px;
  }

  .info-warning {
    border-color: #FFDD15;
    background-color: lighten(#FFDD15, 40%)!important;
  }

  .docs-content a {
    border-bottom: 1px solid lighten(#428BCA, 40%);
    padding: 2px 0;
    > code {
      color: #428BCA;

      background: transparent;
      border: none;
    }
    &:hover {
      text-decoration: none;
    }
  }

  hr.small {
    width: 10%
  }


  .row h3 {
    margin: 45px 0 25px;
  }
  h2 + h3 {
    margin-top: 15px
  }
  pre + p {
    margin-top: 20px
  }
  p + pre {
    margin-top: 25px
  }
  ul + p {
    margin-top: 25px
  }

  p + h4, pre + h4, ul + h4 {
    margin-top: 30px;
  }

  ol {
    li {
      padding: 5px 0
    }
  }
  .video-window {
    margin-top: 25px;
    p {
      margin: 0
    }
  }
  &.commands-list ul {
    list-style: none;
    padding-left: 0;
  }
}
.sidebar-nav {
  > p:not(:first-child) {
    margin-top: 25px
  }
  > ul {
    list-style: none;
    padding-left: 0;
    > li {
      margin: 12px 0
    }
    > li ul {
      margin: 4px 0;
      list-style: none;
      padding-left: 0;
      > li {
        padding-left: 12px;
        margin: 2px 0;
        border-left: 2px solid #eee
      }
    }
  }
}
.flex-video {
  margin-top: 30px;
}
@media print {
  .flex-video {
    display: none;
  }
}
